* {
    font-family: 'Raleway', sans-serif;
}

h4 {
    color: rgb(165, 20, 153);
}

p {
    color: red;
}

.text {
    color: pink;
}

#first-ele {
    color: brown;
}

h5:hover {
 
 
    color:blue;
}

p:active {
    color:green;
    text-shadow: 1px 1px 2px red;
}

header > h5 {
    color: red;
}